.navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    
    color: white;


}

.navigation h3{
    font-size: 20px;
}
.menulinks{
    display: flex;
    gap: 40px;
    list-style: none;
    

}

.menulinks li{
    font-size: 20px;

}
.menulinks li:hover{
    border-bottom: 5px solid red;
  

}
.buttons button{
    border: none;
    outline: none;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    background: linear-gradient(264deg,#DF8908,#84155F 100%);
  
}
.nav-mob-open,.nav-mob-close{
    display: none;
}


@media (max-width:768px) {
    .navigation{
        padding: 0px 100px;
    }
    .menulinks  {
        display: none;
    }
    .buttons button{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: absolute;
        left: 85%;
        bottom: 92%;
    }
    .menulinks {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 100px;
        height: 30%;
        
        z-index: 2;
        transition: right 0.2s;
        right: -350px;
    }
    .nav-mob-close{
        display: block;
        
        
    }
    
}